// COLORS
$black: #0a090c;
$slate:#07393c;
$apricot-light: #fcd7ad;
$isabelline:#f0edee;
$blue-baby: #90ddf0;
$green: #2c666e;
$purple: #7f7caf;

$colors:(
	black: #0a090c,
	black-rich:#07393c,
	apricot-light: #fcd7ad,
	isabelline:#f0edee,
	blue-baby: #90ddf0,
	green: #2c666e,
	purple: #7f7caf
);


// BREAKPOINTS
$phablet-min-width:450px;
$tablet-min-width:650px;
$desktop-min-width:850px;

// SPACING
$grid-gap: 30px; // basic spacing/margin unit.

// TEXT

/*
font-family: 'Breul Grotesk B Extra Light'
font-family: 'Breul Grotesk B Light'
font-family: 'Breul Grotesk B Semi Light'
font-family: 'Breul Grotesk B Thin'

*/
$sans-serif-fonts: 'BreulGroteskBLight', sans-serif;
$display-fonts: 'BreulGroteskBBold', sans-serif;
$serif-fonts: 'Times New Roman', serif;

// SCAFFOLDING
$section-label-width: 100px;
$section-label-padding: $grid-gap / 2;
$section-inner-max-width: 1200px;

// PROJECTS
$project-padding: $grid-gap / 2;
$project-link-width: 40px;
$project-link-height: $project-link-width;

// ABOUT ME
$bio-width: 320px;
$work-history-width: 260px;
$rating-min-width: 200px;
$about-me-content-width: $bio-width + $work-history-width + $rating-min-width;

// CONTACT ME
$contact-background-color: $slate;

// NAV
$nav-background-color:$black;