
// ---- VARIABLES HERE ---------------------------------------------
@import 'config';
@import "partials/typography";


// ---- FUNCTIONS HERE ---------------------------------------------
@import 'functions';

// ---- MIXINS HERE ---------------------------------------------
@import 'mixins';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import "partials/scaffolding";
@import "partials/header";
@import "partials/nav";
@import "partials/contact";
@import "partials/footer";
@import "partials/hamburger";


// ---- RESETS & UTILS ---------------------------------------------

body{
	margin: 0;
	scroll-behavior: smooth;
	padding: $nav-height 0 0 0;
}
ul, ol{
	list-style:none;
	margin: 0;
	padding: 0;
}

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

p {
	font: 18px/1.5em #{$serif-fonts}, serif;
	margin:0 0 $grid-gap 0;

	& + p:last-of-type{
		margin-bottom: 0;
	}
}

h4{
	font: 18px/1.3em #{$display-fonts};
	margin: 0 0 #{$grid-gap / 2} 0;
}

h5{
	@extend %sans-serif;
	font-weight: bold;
	margin: 0 0 #{$grid-gap / 2} 0;
	text-transform: uppercase
}

.exploded{
	font-family: $display-fonts;
	font-size: 2em;
	font-weight:bold;
}

%agate{
	font: 14px/1.3em $sans-serif-fonts;
}

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
 

