
// ---- VARIABLES HERE ---------------------------------------------
@import 'config';


// ---- FUNCTIONS HERE ---------------------------------------------
@import 'functions';

// ---- MIXINS HERE ---------------------------------------------
@import 'mixins';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import "partials/header";
@import "partials/projects";
@import "partials/filters";
@import "partials/about";
@import "partials/nav";
@import "partials/contact";


// ---- RESETS & UTILS ---------------------------------------------


body{
	margin: 0;
	scroll-behavior: smooth;
}
ul, ol{
	list-style:none;
	margin: 0;
	padding: 0;
}

.sr-only{
	// Use this to hide elements from everything except screen readers.
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

p {
	font: 18px/1.5em #{$serif-fonts}, serif;
	margin:0 0 $grid-gap 0;
}

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
 

.section{
	margin-bottom: $grid-gap;
	padding: $grid-gap;
	box-sizing: border-box;

	&__header{
		position:relative;		
		font: 23px/1em #{$display-fonts}, sans-serif;
		font-weight: bold;
		overflow:hidden;
		margin-bottom: $grid-gap;
		
		

		&:before{
			content:"";
			position: absolute;
			top:0;
			left: #{$section-label-width + $section-label-padding};
			background: $black;
			width: 1px;
			height: 100%;

		}

		&:after{
			content:"";
			position: absolute;
			top: 50%;
			left: #{$section-label-width + $section-label-padding};
			transform: translate(0, -50%);
			background: $black;
			height: 1px;
			width: 100%;

		}
	
	}

	&__inner{
		max-width: $section-inner-max-width;
	}
}


@media all and (min-width: $phablet-min-width){
	// ONLY CHANGES FOR PHABLETS, TABLETS + DESKTOPS	
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	


}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
		.section__inner{
		margin: 0 0 0 #{$section-label-padding + $section-label-width};
	}
}