{% extends '_base.html' %}

{% macro rating_bar(r, label) %}
	<dl class='rating'>
		<dt class='rating__label'>{{ label }}</dt>
		<dd class='rating__bar-wrapper'>
			<div class='rating__bar' style='width: {{ r * 10 }}%'></div>
		</dd>
	</dl>
{% endmacro %}

{% macro rating(r, label) %}
	<dl class='rating'>
		<dt class='rating__label'>{{ label }}</dt>
		<dd class='rating__dots'>
			{% for number in range(0,r) %}
				<span class='rating__dot--rated'></span>
			{% endfor %}
			{% for number in range(0,10-r) %}
				<span class='rating__dot--unrated'></span>
			{% endfor %}
		</dd>
	</dl>
{% endmacro %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock stylesheets %}

{% block content %}
<section id="about" class='section section--about-me'>
	<div class='container'>
		<h1 class='section__header sr-only'>About me</h1>
		<div class='section__inner'>
			<div class='bio'>
				{{ bio|markdown }}
			</div>
			<div id='history' class='work-history'>
				{% include 'subtemplates/_work-history.html' %}
			</div>
			<div id='skills' class='skills'>
				{% include 'subtemplates/_skills.html' %}
			</div>
		</div>
	</div>
</section>
<section id='contact' class='section section--contact'>
	<div class='container'>
	{% include 'subtemplates/_contact.html' %}
	</div>
</section>
<section id='work' class='section section--portfolio'>
	<div class='container'>
		{% set projects_list = generate_projects_list() %}
		{% set total_projects = projects_list|length %}
		<h1 class='section__header'>My work</h1>
		<div class='filters-wrapper'>
			{% include "subtemplates/_filters.html" %}
		</div>
		<div class='projects'>
			{% for project in projects_list|sort(True, attribute='date_updated') %}
				{% set p = project %}
				{% include "subtemplates/_project.html" %}
			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}