{% macro squares() %}
	<div class='squares'>
		{% set colors = [
				{"name":"black", "hex": " #0a090c"},
				{"name":"black-rich", "hex": "#07393c"},
				{"name":"apricot-light", "hex": " #fcd7ad"},
				{"name":"isabelline", "hex": "#f0edee"},
				{"name":"blue-baby", "hex": " #90ddf0"},
				{"name":"green", "hex": " #2c666e"},
				{"name":"purple", "hex": "#7f7caf"}
		] %}
		{% for color in colors %}
			<div class='square--{{ color.name }}' style="width: 150px; height: 150px; background: {{ color.hex }}"></div>
		{%endfor%}
	</div>
{% endmacro %}

{% macro rating(r, label) %}
	<dl class='rating'>
		<dt class='rating__label'>{{ label }}</dt>
		<dd class='rating__dots'>
			{% for number in range(0,r) %}
				<span class='rating__dot--rated'></span>
			{% endfor %}
			{% for number in range(0,10-r) %}
				<span class='rating__dot--unrated'></span>
			{% endfor %}
		</dd>
	</dl>
{% endmacro %}

{% macro rating_bar(r, label) %}
	<dl class='rating'>
		<dt class='rating__label'>{{ label }}</dt>
		<dd class='rating__bar-wrapper'>
			<div class='rating__bar' style='width: {{ r * 10 }}%'></div>
		</dd>
	</dl>
{% endmacro %}


<!DOCTYPE html>
<html>
<head>
	{% include 'subtemplates/_google-analytics.html' %}
	<title>DataViz and Front-End | Ryan B. Marx</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# Google analytics #}
	{# structured data #}
	{# social #}

	{# Prefetch/preload assets #}
	<link rel="prefetch" href="/fonts/BreulGroteskB-Light.woff" as="font">
	<link rel="prefetch" href="/fonts/BreulGroteskB-Bold.woff" as="font">
	<link rel="prefetch" href="/fonts/BreulGroteskB-Black.woff" as="font">
	<link rel="prefetch" href="/fonts/BreulGroteskB-Black.woff" as="font">
    <link rel="preload" href="/img/header-background--desktop.jpg" as="image">

	<script type="text/javascript" src='js/vendor.min.js'></script>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	{% include 'subtemplates/_header.html' %}
	<section id="about" class='section section--about-me'>
		<h3 class='section__header sr-only'>About me</h3>
		<div class='section__inner'>
			<div class='bio'>
				{{ bio|markdown }}
			</div>
			<div id='history' class='work-history'>
				<h4>Work history</h4>
				<div class='timeline'>
					<div class='timeline__labels'>
						<span class='timeline__label'>2002</span>
						<span class='timeline__label timeline__label--05'>2005</span>
						<span class='timeline__label timeline__label--10'>2010</span>
						<span class='timeline__label'>Present</span>
					</div>	
					<div class='timeline__lines'>
						<div class='timeline__line timeline__line--ne'></div>
						<div class='timeline__line timeline__line--nwi'></div>
						<div class='timeline__line timeline__line--trib'></div>
					</div>
					<div class='timeline__jobs'>
						<div class='job job--ne'>
							<span class='job__title'>Copy editor, designer, Presentation Editor</span>
							<span class='job__employer'>The News-Enterprise</span>
						</div>
						<div class='job job--nwi'>
							<span class='job__title'>Designer, Graphics Editor</span>
							<span class='job__employer'>The Times of Northwest Indiana</span>
						</div>
						<div class='job job--trib'>
							<span class='job__title'>Graphic reporter, Assistant DataViz Editor</span>
							<span class='job__employer'>Chicago Tribune</span>
						</div>
					</div>
				</div>
			</div>
			<div id='skills' class='skills'>
				{% for cat in skill_categories|sort(attribute="order") %}
					<h4>{{ cat.label }} skills</h4>
					{% for skill in skills|sort(True, attribute="rating") if skill.category == cat.slug %}
						{{ rating_bar(skill.rating, skill.name)}}
					{% endfor %}
				{% endfor %}

			</div>
		</div>
	</section>
	<section id='contact' class='section section--contact'>
		{% include 'subtemplates/_contact.html' %}
	</section>
	<section id='work' class='section section--portfolio'>
		{% set projects_list = generate_projects_list() %}
		<h3 class='section__header sr-only'>My work</h3>
		<p><span class='exploded'>My work</span></p>
		<div class='section__inner'>
		{# 	<div class='filters'>
				{% for t in get_tags_list(projects_list) %}
				<button class='filter filter--checked' data-topic='{{ t|lower }}'>{{ t|upper }}</button>
				{% endfor %}
			</div> #}
		<div class='projects'>
		{% for project in projects_list|sort(True, attribute='date_updated') %}
			{% set p = project %}
			{% include "subtemplates/_project.html" %}
		{% endfor %}
		</div>
	</div>
	</section>
	<footer class='section section--footer footer'>
		{% include 'subtemplates/_contact.html' %}
		<p class='footer__copyright'>© 2016 Ryan B. Marx. All rights reserved.</p>
	</footer>
	<script type="text/javascript" src="js/app.min.js"></script>
</body>
</html>

{# vert sticky nav? #}