.contact{
	background: $contact-background-color;
	padding: #{$grid-gap} #{$grid-gap};

	&__text{
		@extend %sans-serif;
		font-weight:bold;
		text-align: center;
		margin: 0 0 #{$grid-gap / 2} 0;
		color: $apricot-light;
	}

	&__social{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&__link {

		margin-right: 10px;
		&:last-child{ margin-right: 0; }
		
		a{
			background: $isabelline;
			color:$slate;
			box-sizing: border-box;
			border: 1px solid transparent;

			display: flex;
			align-items: center;
			justify-content: center;
			
			border-radius: 50%;
			height: 40px;
			width: 40px;

			font-size: 30px;

			&:hover{
				background: $apricot-light;
			}

		}
		&--email a{
			// icon needs a little budge smaller
			font-size: 25px;
		}
	}
}


// @media all and (min-width: $phablet-min-width){
// 	// ONLY CHANGES FOR PHABLETS, TABLETS + DESKTOPS	
// }

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	

	.contact{
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;

		&__text{
			font-size: 23px;
			margin: 0 #{$grid-gap / 2} 0 0
		}
	}
}

// @media all and (min-width: $desktop-min-width){
// 	// ONLY CHANGES FOR DESKTOPS

// }
