.filters-wrapper{
	// Provides seperation from projects whether stacked on top
	// or in side-saddle. Either way, the margin not being used 
	// is not noticeable.
	margin: 0 $grid-gap $grid-gap 0; 


	// Keep it side-saddle with the projects ..
	// The flex statement here and for .projects will
	// keep them in a ratio of about 1:3.
	flex: 1 1 $project_filters_overall_min_width;
}

.filters{
	display: flex;
	align-items: stretch;
	flex-wrap:wrap;

	// Stick when there is room to stick. On mobile,
	// The filters-wrapper will be the height of the filters, 
	// so, while technically it will be stuck, it will
	// scroll away with the filters-wrapper.
	position:sticky;
	top: $nav-height + $grid-gap;

}

.filter{
	flex: 1 1 30%; // Keep filters roughly three-across at all times
	min-width: 75px; // Should force it to two-across at skinny widths

	background: $isabelline;
	border: none;
	padding: 10px; 
	cursor: pointer;
	margin: 0 5px 5px 0;
	transition: all 150ms ease;
	color: set-text-color($isabelline, true);
	box-sizing: border-box;
	text-transform:uppercase;
	
	// Make the bars in the buttons go.
	position: relative;
	overflow:hidden;

	&:hover{
		// color: set-text-color($green, true);
		background: rgba($green, .15);
		transition: all 150ms ease;
	}

	&[data-topic='all']{
		flex: 1 1 100%; // Make the all-topics button fullwidth
	}

	&--checked, &--checked:hover, &--checked:focus {
		color: set-text-color($green, true);
		background: $green;
		transition: all 150ms ease;
	}

	&__bar{
		position:absolute;
		top: 0;
		left: 0;
		height: 100%;
		width:100%;
		background: rgba(black, .2);
	}
}


@media all and (min-width: $phablet-min-width){
	// ONLY CHANGES FOR PHABLETS, TABLETS + DESKTOPS	
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS
	// .filters-wrapper{
		
	// }

	// .filters{
	// 	position:sticky;
	// 	top: $nav-height + $grid-gap;
	// }	


}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
}