
%header__text{

}

.header{
	background: $black;
	background-size: cover;
	// height: 50vh;
	box-sizing:border-box;
	// margin-bottom: 50vh;
	position:relative;

	text-align:center;
	
	&__thumb{
		border-radius: 50%;
		max-width: 200px;
		margin: 15px auto;
	}
	&__name{
		font: 18px/1.2em #{$display-fonts}, sans-serif;
		font-weight: bold;
		color: white;
		margin: 0 0 #{$grid-gap / 2} 0;
		padding: 0;
		text-transform: uppercase;

	}

	&__text-container {
		margin: 0; 
		padding:0;
		width: 100%;
	}

	&__text-wrapper{
		background: $black;
		box-sizing:border-box;
		padding: $grid-gap;
		width: 100%;
		// height: 50vh;

		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		flex-flow: column;

		// position:absolute;
		// top: 100%;
		// left:0;
	}

	&__text{
		@include responsive-font(4.75vw, 35px, 100px, 50px);
		font-family: #{$display-fonts}, sans-serif;
		line-height: 0.82em;
		color:white;
		text-transform:uppercase;
		text-shadow: 2px 2px 5px rgba(black, .7);

		display:block;
		padding: 0 0 0 10px;
		border-left: 3px solid white;
		border-right: 3px solid white;
		margin: 0 0 #{$grid-gap / 2} 0;

		&--data{
			color: $apricot-light;
			border-color: $apricot-light;
		}
		&--stories{
			color: $isabelline;
			border-color: $isabelline;
		}
		&--experiences{
			color: $blue-baby;
			border-color: $blue-baby;
		}
	}
	&__photo-credit{
		@extend %agate;
		color: black;
		margin: 0;
		position:absolute;
		top:100%;
		right: 0;
		padding: 5px;

		a{
			color:black;
		}
	}
}



// @media all and (min-width: $phablet-min-width){
// 	// ONLY CHANGES FOR PHABLETS, TABLETS + DESKTOPS	
// }

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
	.header{
		background: #eee url(/img/header-background--desktop.jpg) center center no-repeat;
	    background-size: cover;
		height: 100vh;
		margin-bottom: 0;
		text-align: left;

		&__thumb{ display:none; }

		&__text{
			border-right: none;
		}
		
		&__text-wrapper{
			background: rgba($black, .4);
			width: 40%;
			height: 100%;
			position: static;
		}

	}

	body[data-short-header=true] .header{
		height: auto;
	}

}

// @media all and (min-width: $desktop-min-width){
// 	// ONLY CHANGES FOR DESKTOPS
// 	// .header{
// 	// 	background: #eee url(/img/header-background--desktop.jpg) center right no-repeat;
// 	// }
// }
