.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	padding: 10px 15px;
	background: rgba($nav-background-color, .9);
	z-index:1000;
	box-sizing:border-box;

	display:flex;
	justify-content: space-between;
	align-items: center;

	color: white;
	font: 19px/1em #{$display-fonts};
	font-weight: bold;

	&__name{
		margin: 0;
	}

	&__links{
		flex:1; // take all the space it needs from the nav

		// Evenly space it's nav links
		display:flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__link{
		// margin-right: 10px;
		&:last-child{
			// margin-right: 0;
		}

		a{
			// @include text-stroke($stroke-opacity:.5, $stroke-color:$nav-background-color);
			text-decoration: none;
			color: inherit;
			padding: 10px;
			transition: background 150ms ease;
			border-radius: 5px;
			position:relative;
			
			&:after{
				transition: opacity 150ms ease;
				opacity: 0;
				content:"";
				display:block;
				width: 100%;
				height: 15px;
				background:$apricot-light;
				position: absolute;
				top: 50%;
				left: 0;
				z-index: -1;
				transform: translate(0, -53%) skew(9deg) rotate(-2deg);
			}

			&:hover{
				color: $nav-background-color;
				&:after{
					transition: opacity 100ms ease;
					opacity: 1;
				}
			}
		}
	}

}

