.section--portfolio{
	background: rgba($green, .5);
}

.projects{
	display:flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}

%project__link {
	display: inline-block;
	margin-right: 5px;

	&:last-child{ margin-right: 0; }

	a{	
		background: $green;
		color: $isabelline;

		display: flex;
		align-items: center;
		justify-content: center;
		
		height: $project-link-height;
		width: $project-link-width;

		overflow:hidden;
		border-radius: 50%;
		border: 1px solid transparent;
		transition: all 150ms ease;
	
		&:hover{
			transition: all 150ms ease;
			border-color: $link-color;
		}
	}
}

.project{
	@include distribute_across_columns(1, $grid-gap)
	box-sizing: border-box;
	background: $isabelline;
	padding: #{$project-padding} #{$project-padding} #{$project-padding + $project-link-height} #{$project-padding};
	position:relative;

	font: 19px/1.3em #{$display-fonts}, sans-serif;
	text-align:center;
	display:none;

	&--visible{
		display:block;
	}

	&__thumb{
		margin: #{$project-padding * -1} 0 #{$project-padding} #{$project-padding * -1};
		overflow:hidden;
		width: calc(100% + #{$project-padding * 2});

		img{
			width: 100%;
			transform: scale(1.2);
		}
	}

	&__name{
		margin: 0 0 #{$project-padding} 0;

	}	

	&__links{
		position: absolute;
		left: 0;
		width: 100%;
		bottom: $project-padding;

		display: flex;
		align-items: center;
		justify-content: center;

	}	 
	&__link{
		&--prod{
			@extend %project__link;
			// background: $green;

			// a{
			// 	font-size: $project-link-height / 2;
			// 	color:white;
			// }
		}

		&--github{
			@extend %project__link;

			a{
				background: $isabelline;
				font-size: 42px;
				color:$green;
				// border-color:$green;
			}
		}
	}

	&__date{
		display: flex;
		align-items: center;
		justify-content: center;

		dd, dt{
			margin:0;
			padding:0;
		}
	}
	&__tags {
		text-align: center;
		margin: 0 0 #{$project-padding} 0;

		li{
			display:inline-block;
			font-size: 14px;
			text-transform: lowercase;
			color: #aaa;
			margin: 0 5px 0 0;
	
		}
	}
}




@media all and (min-width: $phablet-min-width){
	// ONLY CHANGES FOR PHABLETS, TABLETS + DESKTOPS	
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
	.project{
		@include distribute_across_columns(2, $grid-gap)
	}

}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
	.project{
		@include distribute_across_columns(3, $grid-gap)
	}

}