$project_horiz_width: 750px;

.section--portfolio{
	background: rgba($green, .5);
}

.projects{
	display:flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;

	max-width: 1500px;
	margin-left:auto;
	margin-right:auto;
}

%project__link {
	display: inline-block;
	margin-right: 5px;

	&:last-child{ margin-right: 0; }

	a{	
		background: $green;
		color: $isabelline;

		display: flex;
		align-items: center;
		justify-content: center;
		
		height: $project-link-height;
		width: $project-link-width;

		overflow:hidden;
		border-radius: 50%;
		border: 1px solid transparent;
		transition: all 150ms ease;
	
		&:hover{
			transition: all 150ms ease;
			border-color: $link-color;
		}
	}
}

.project{
	// @include distribute_across_columns(1, $grid-gap)
	box-sizing: border-box;
	background: $isabelline;
	position:relative;

	margin-bottom: $grid-gap;

	font: 19px/1.6em #{$display-fonts}, sans-serif;
	text-align:center;
	display:none;

    width: 100%;

	&--visible{
		// To organize the contents
		display:flex;
		flex-wrap:wrap;

		& > *{
			// The immediate descendants of project will be flex items
			// And we want them to lay out horizontally when there is 
			// enough room. This should happen automatically
			flex: 1 1 #{$project_horiz_width / 2};
			// margin: 25px;
		}
	}

	&__container{
		box-sizing: border-box;
		padding: $project-padding;
	}

	&__thumb{
		margin: 0;
		overflow:hidden;
		position:relative;
		overflow:hidden;

		min-height: 300px; // Need this so there is space to display the image

		img{
			width: 100%;
			
			position:absolute;
			top: 0;
			left:0;
		}
	}

	&__thumb--blur img{
		filter: blur(15px);
	}

	&__name{
		margin: 0 0 5px 0;
	}	

	&__links{
		// position: absolute;
		// left: 0;
		// width: 100%;
		// bottom: $project-padding;

		display: flex;
		align-items: center;
		justify-content: center;

	}	 
	&__link{
		&--prod{
			@extend %project__link;
		}

		&--github{
			@extend %project__link;

			a{
				background: $isabelline;
				font-size: 42px;
				color:$green;
			}
		}
	}

	&__date{
		display: flex;
		align-items: center;
		justify-content: center;

		dd, dt{
			@extend %label;
			margin:0;
			padding:0;
		}

		dt:after{
			content: ":";
			margin-right: 5px;
		}
	}
	&__tags {
		text-align: center;
		margin: 0 0 #{$project-padding} 0;

		li{
			display:inline-block;
			font-size: 14px;
			text-transform: lowercase;
			color: #aaa;
			margin: 0 5px 0 0;
	
		}
	}
}

@media all and (max-width:#{ $project_horiz_width + ($section-padding * 2)}){
	// Disable background image ONLY on the mobile/nonside-saddle views
	.project__thumb{
		// max-height: 400px;
	}
}


@media all and (min-width: $phablet-min-width){
	// ONLY CHANGES FOR PHABLETS, TABLETS + DESKTOPS	
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
	.project__name{ font-size:30px; }	
	.project__tags{ font-size:18px; }
	.project__thumb {
		min-height: 350px;
	}	
}

@media all and (min-width: #{ $project_horiz_width + ($section-padding * 2)}){
	// ONLY CHANGES FOR WHEN PROJECTS ARE SIDESADDLE ARRANGED
	.project__thumb {
		min-height: 400px;
	}


}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS

}